<datalist id="roles">
  <option>Castors</option>
  <option>Aigles</option>
  <option>Chouettes</option>
  <option>Éclaireurs</option>
  <option>Pionniers</option>
  <option>Routiers</option>
  <option>Gestion</option>
</datalist>
